@page "/umisteni"
@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Components.Shared
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@implements IDisposable

@inject LocationService LocationService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<PageTitle>Správce baterií - Umístění</PageTitle>

<h1>Umístění</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

@if (isDataLoaded)
{
	@if (ModalNavigationService.GetCurrentComponent() is not null)
	{
		<ModalNavigation />
	}
	<button @onclick="() => ModalNavigationService.Open(typeof(LocationForm), null)">Přidat nové umístění</button>
}

<hr>

<h2>Seznam všech umístění</h2>

@if (LocationList.Count < 1)
{
	<h3>Žádná uložená umístění</h3>
}
else
{
	<div class="table-container">
		<table class="selectable">
			<thead>
				<tr>
					<th>Název umístění</th>
					<th>Podlaží</th>
					<th>Popis</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Location location in LocationList)
				{
					<tr @onclick="() => ModalNavigationService.Open(typeof(LocationDetail), location.Id)" title="Zobrazit detail">
						<td>@location.Name</td>
						<td>@(location.Floor ?? "")</td>
						<td><textarea disabled>@location.Description</textarea></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@code {
	private string errorMessage = "";
	private bool isDataLoaded = false;
	private List<Location> LocationList = new();

	/// <summary>
	/// Při načtení stránky se zavolá načtení dat
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		ModalNavigationService.Reset();

		await LoadLocationList();

		//Přihlášení k události pro změnu navigace, aby se načetla data po návratu z modální komponenty
		ModalNavigationService.ModalChanged += NavigationChanged;
	}

	/// <summary>
	/// Při zavření modální komponenty se odhlásí odběr události
	/// </summary>
	public void Dispose()
	{
		ModalNavigationService.ModalChanged -= NavigationChanged;
	}

	/// <summary>
	/// Po změně modální navigace se zkontroluje, zda nejsou potřeba znovunačíst data
	/// </summary>
	private async void NavigationChanged()
	{
		if (ModalNavigationService.ShouldReload())
		{
			await LoadLocationList();
			ModalNavigationService.Reset();

			//Aktualizace UI
			StateHasChanged();
		}
	}

	/// <summary>
	/// Načtení informací o umístěních uživatele z databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task LoadLocationList()
	{
		try
		{
			LocationList = await LocationService.GetLocations();
			LocationList = LocationList.OrderBy(l => l.Name).ToList();

			isDataLoaded = true;
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Po vykreslení stránky se zkontroluje, zda nejsou potřeba znovunačíst data
	/// </summary>
	/// <param name="firstRender">bool, zda se stránka vykresluje poprvé</param>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (ModalNavigationService.ShouldReload())
		{
			await LoadLocationList();
			ModalNavigationService.Reset();

			//Aktualizace UI
			StateHasChanged();
		}
	}
}
