@page "/prihlaseni"

<PageTitle>Přihlášení</PageTitle>

<h1>Přihlášení</h1>

<!--Formulář pro registraci-->
<EditForm FormName="LoginForm">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary></ValidationSummary>

	<label for="input-email">Email: </label>
	<InputText id="input-email" type="email" placeholder="Email@email.com" required></InputText>

	<label for="input-password">Heslo: </label>
	<InputText id="input-password" type="password" placeholder="TajneHeslo" required></InputText>

	<button type="submit">Přihlásit se</button>
</EditForm>

@code {

}
