@page "/ucet/prihlaseni"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.AspNetCore.Identity
@using SpravceBaterii.Data.Models
@using System.ComponentModel.DataAnnotations

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<PageTitle>Přihlášení</PageTitle>

<h1>Přihlášení</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

<!--Formulář pro registraci-->
<EditForm Model="@Input" OnValidSubmit="LoginUser" FormName="LoginForm">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary></ValidationSummary>

	<label for="input-email">Email: </label>
	<InputText id="input-email" @bind-Value="Input.Email" type="email" placeholder="Email@email.com" required></InputText>

	<label for="input-password">Heslo: </label>
	<InputText id="input-password" @bind-Value="Input.Password" type="password" placeholder="TajneHeslo" required></InputText>

	<InputCheckbox id="input-checkbox" @bind-Value="Input.RememberMe"></InputCheckbox>
	<label for="input-checkbox" title="Po zavření prohlížeče zůstanete přihlášeni">Zůstat přihlášen(a)</label>

	<button type="submit">Přihlásit se</button>
</EditForm>

@code {
	[SupplyParameterFromForm]
	private InputModel Input { get; set; } = new InputModel();

	private string errorMessage = "";

	/// <summary>
	/// Přihlášení existujícího uživatele pomocí emailu a hesla
	/// </summary>
	/// <returns>Asynchronní metoda</returns>
	private async Task LoginUser()
	{
		SignInResult result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, true);
		if (result.Succeeded)
		{
			Navigation.NavigateTo("/");
		}
		else
		{
			errorMessage = result.ToString();
		}
	}

	/// <summary>
	/// Model pro vstupní data z formuláře pro přihlášení
	/// </summary>
	private class InputModel
	{
		[Required]
		public string Email { get; set; } = "";

		[Required]
		public string Password { get; set; } = "";

		public bool RememberMe { get; set; } = false;
	}
}
