@page "/ucet/registrace"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.AspNetCore.Identity
@using SpravceBaterii.Data.Models
@using System.ComponentModel.DataAnnotations

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<PageTitle>Registrace</PageTitle>

<h1>Registrace</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (string.IsNullOrEmpty(errorMessage))
{
	<p>@errorMessage</p>
}

<!--Formulář pro registraci-->
<EditForm Model="@Input" OnValidSubmit="RegisterUser" FormName="RegisterForm">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <label for="input-email">Email: </label>
    <InputText id="input-email" @bind-Value="@Input.Email" type="email" placeholder="Email@email.com" required></InputText>

    <label for="input-password">Heslo: </label>
    <InputText id="input-password" @bind-Value="@Input.Password" type="password" placeholder="TajneHeslo" required></InputText>

    <button type="submit">Registrovat se</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new InputModel();

    private string errorMessage = "";

    /// <summary>
    /// Registrace nového uživatele pomocí emailu a hesla
    /// Pokud registrace proběhne úspěšně, vytvořený uživatel je automaticky přihlášen
    /// </summary>
    /// <returns>Asynchronní metoda</returns>
    private async Task RegisterUser()
    {
        ApplicationUser newUser = new ApplicationUser();
        newUser.UserName = Input.Email;
        newUser.Email = Input.Email;

        IdentityResult result = await UserManager.CreateAsync(newUser, Input.Password);

        if (result.Succeeded)
        {
            await SignInManager.SignInAsync(newUser, false);
            Navigation.NavigateTo("/");
        }
        else
        {
            errorMessage = string.Join(", ", result.Errors.Select(error => error.Description));
        }
    }

    /// <summary>
    /// Model pro vstupní data z formuláře pro registraci
    /// </summary>
    private class InputModel
    {
        [Required]
        public string Email { get; set; } = "";

        [Required]
        public string Password { get; set; } = "";
    }
}
