@page "/odhlaseni"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.AspNetCore.Identity
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation
@inject ExceptionHandlerService ExceptionHandlerService

<PageTitle>Správce baterií - Odhlášení</PageTitle>

<h1>Odhlášení</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="error-message">@errorMessage</p>
}

@code {
    private string errorMessage = "";

    /// <summary>
    /// Po načtení této stránky automaticky odhlásí aktuálně přihlášeného uživatele a přesměruje na domovskou stránku
    /// </summary>
    /// <returns>Asynchronní metoda</returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await SignInManager.SignOutAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ExceptionHandlerService.HandleException(ex);
            return;
        }
        Navigation.NavigateTo("/", true);
    }
}
