@page "/ucet/registrace"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using SpravceBaterii.Data.Models
@using System.ComponentModel.DataAnnotations
@using SpravceBaterii.Services

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation
@inject ApplicationUserService UserService
@inject ExceptionHandlerService ExceptionHandlerService
@inject Microsoft.Extensions.Options.IOptions<IdentityOptions> IdentityOptions

<PageTitle>Správce baterií - Registrace</PageTitle>

<h1>Registrace</h1>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@((MarkupString)errorMessage)</p>
}

<!--Formulář pro registraci-->
<EditForm Model="@Input" OnValidSubmit="RegisterUser" FormName="RegisterForm" class="account">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p class="required-info">Pole označená <span>*</span> jsou povinná.</p>

	<label for="input-email">E-mail: </label>
	<InputText id="input-email" @bind-Value="Input.Email" type="email" placeholder="Zadejte e-mail" required></InputText>

	<label for="input-password">Heslo: </label>
	<InputText id="input-password" @bind-Value="Input.Password" type="password" placeholder="Zadejte heslo" required></InputText>

	<label for="input-confirm-password">Potvrzení hesla: </label>
	<InputText id="input-confirm-password" @bind-Value="Input.ConfirmPassword" type="password" placeholder="Zadejte heslo znovu" required></InputText>

	<button type="submit">Registrovat se</button>

	<div id="show-password-requirements">
		<input type="checkbox" id="checkbox-show-password-requirements" />
		<label for="checkbox-show-password-requirements">Požadavky na heslo</label>

		<div id="password-requirements">
			<ul id="requirements">
				@foreach (string requirement in passwordRequirements)
				{
					<li>@requirement</li>
				}
			</ul>
		</div>
	</div>

</EditForm>

<p class="switch-account-page">Již máte účet? <a href="/ucet/prihlaseni">Přihlásit se</a></p>

@code {
	[SupplyParameterFromForm]
	private InputModel Input { get; set; } = new InputModel();
	private List<string> passwordRequirements = new();
	private string errorMessage = "";

	/// <summary>
	/// Po načtení této stránky proběhne kontrola stavu přihlášení uživatele
	/// Pokud je již přihlášen, bude přesměrován na domovskou stránku
	/// </summary>
	/// <returns>Asynchronní metoda</returns>
	protected override async Task OnInitializedAsync()
	{
		if (await UserService.IsUserAuthenticatedAsync())
		{
			Navigation.NavigateTo("/", true);
		}

		passwordRequirements.Add("Minimální délka: " + IdentityOptions.Value.Password.RequiredLength + " znaků");
		if (IdentityOptions.Value.Password.RequireDigit)
		{
			passwordRequirements.Add("Musí obsahovat číslici");
		}
		if (IdentityOptions.Value.Password.RequireLowercase)
		{
			passwordRequirements.Add("Musí obsahovat malé písmeno");
		}
		if (IdentityOptions.Value.Password.RequireUppercase)
		{
			passwordRequirements.Add("Musí obsahovat velké písmeno");
		}
		if (IdentityOptions.Value.Password.RequireNonAlphanumeric)
		{
			passwordRequirements.Add("Musí obsahovat speciální znak");
		}
	}

	/// <summary>
	/// Registrace nového uživatele pomocí emailu a hesla
	/// Pokud registrace proběhne úspěšně, vytvořený uživatel je automaticky přihlášen
	/// </summary>
	/// <returns>Asynchronní metoda</returns>
	private async Task RegisterUser()
	{
		try
		{
			if (Input.Password != Input.ConfirmPassword)
			{
				errorMessage = "Zadaná hesla se neshodují.";
				return;
			}

			ApplicationUser newUser = new ApplicationUser();
			newUser.UserName = Input.Email;
			newUser.Email = Input.Email;
			newUser.RegistrationDate = DateTime.UtcNow;

			IdentityResult result = await UserManager.CreateAsync(newUser, Input.Password);

			if (result.Succeeded)
			{
				await SignInManager.SignInAsync(newUser, false);

				newUser.LastLoginDate = DateTime.UtcNow;
				await UserManager.UpdateAsync(newUser);
			}
			else
			{
				errorMessage = string.Join("<br>", result.Errors.Select(error => error.Description).Where(error => !string.IsNullOrEmpty(error)));
				return;
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
			return;
		}

		Navigation.NavigateTo("/", true);
	}

	/// <summary>
	/// Model pro vstupní data z formuláře pro registraci
	/// </summary>
	private class InputModel
	{
		[Required(ErrorMessage = "Zadejte email.")]
		[EmailAddress(ErrorMessage = "Zadaný email není správný.")]
		public string Email { get; set; } = "";

		[Required(ErrorMessage = "Zadejte heslo.")]
		public string Password { get; set; } = "";

		[Required(ErrorMessage = "Zadejte znovu heslo.")]
		public string ConfirmPassword { get; set; } = "";
	}
}
