@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<nav>
    <NavLink href="/">Domovská stránka</NavLink>

    <AuthorizeView>
        <Authorized>
            <NavLink href="/ucet/odhlaseni">Odhlásit se</NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink href="/ucet/registrace">Registrace</NavLink>
            <NavLink href="/ucet/prihlaseni">Přihlásit se</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
