@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<nav>
    <NavLink href="/" Match="NavLinkMatch.All" class="logo"><img src="@Assets["logo.png"]" alt="Logo" />Správce baterií</NavLink>

    <AuthorizeView>
        <Authorized>
            <NavLink href="/baterie">Baterie</NavLink>
            <NavLink href="/zarizeni">Zařízení</NavLink>
            <NavLink href="/umisteni">Umístění</NavLink>
            <NavLink href="/ucet/odhlaseni">Odhlásit se</NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink href="/ucet/registrace">Registrace</NavLink>
            <NavLink href="/ucet/prihlaseni">Přihlásit se</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</nav>

<div id="page">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<footer>
	<p>&copy; @DateTime.Now.Year - Správce Baterií</p>
    <p>Webová aplikace pro správu spotřebních baterií.</p>
    <p>Vytvořeno jako bakalářská práce pomocí .NET Blazor a SQL Server.</p>
    <p>Přihlašovací údaje slouží výhradně k přihlášení uživatele a jsou bezpečně uloženy.</p>
    <p>Veškerá uložená data jsou používána pouze v rámci této webové aplikace a nejsou sdílena ani poskytována třetím stranám.</p>
    <p>Tato webová aplikace je poskytována bez záruky a autor neručí za případnou ztrátu nebo poškození dat.</p>
    <p>Autor: Jiří Krsek</p>
    <p>Kontakt: <a href="https://github.com/JirkaKrsek" target="_blank">Odkaz na GitHub autora</a></p>
    <a href="/">Zpět na domovskou stránku</a>
</footer>