@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<nav>
    <NavLink href="/" Match="NavLinkMatch.All" class="logo">Domovská stránka</NavLink>

    <AuthorizeView>
        <Authorized>
            <NavLink href="/baterie">Baterie</NavLink>
            <NavLink href="/zarizeni">Zařízení</NavLink>
            <NavLink href="/umisteni">Umístění</NavLink>
            <NavLink href="/ucet/odhlaseni">Odhlásit se</NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink href="/ucet/registrace">Registrace</NavLink>
            <NavLink href="/ucet/prihlaseni">Přihlásit se</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</nav>

<div id="page">
@Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
