@using Microsoft.AspNetCore.Components.Authorization
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using SpravceBaterii.Services.Tools

@inject LocationService LocationService
@inject DeviceService DeviceService
@inject ExceptionHandlerService ExceptionHandlerService
@inject ModalNavigationService ModalNavigationService

<div class="component-header">
	@if (ItemId is null)
	{
		<h2>Formulář pro zadání nového umístění</h2>
	}
	else
	{
		<h2>Formulář pro úpravu umístění</h2>
	}
</div>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<!--Zobrazení potvrzovacího dialogu-->
<ConfirmDialog @ref="confirmDialog" />

<EditForm Model="@location" OnValidSubmit="SaveLocation" FormName="LocationForm" class="add-update">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p class="required-info">Pole označená <span>*</span> jsou povinná.</p>

	<label for="input-Name">Název: </label>
	<InputText id="input-Name" @bind-Value="location.Name" required></InputText>

	<label for="input-Floor">Podlaží: </label>
	<InputText id="input-Floor" @bind-Value="location.Floor"></InputText>

	<label for="input-Description">Popis: </label>
	<InputTextArea id="input-Description" @bind-Value="location.Description"></InputTextArea>

	<hr>

	<div class="action-buttons">
		<button type="submit">Uložit</button>

		@if (ItemId is not null)
		{
			<button type="button" @onclick="async () => await DeleteLocation(location.Id)">Odstranit umístění</button>
		}
	</div>
</EditForm>

@code {
	/// <summary>
	/// Vstupní parametr - ID položky pro její načtení
	/// </summary>
	[Parameter]
	public int? ItemId { get; set; }


	private string errorMessage = "";
	private ConfirmDialog confirmDialog = default!;

	private Location location = new();


	/// <summary>
	/// Načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (ItemId is not null)
			{
				location = await LocationService.GetUserLocationById(ItemId.Value);
			}
			else
			{
				location = new();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Uložení zadaných informací o (novém / vybraném) umístění do databáze
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	private async Task SaveLocation()
	{
		try
		{
			if (ItemId is null)
			{
				await LocationService.AddLocation(location);

				ModalNavigationService.MarkForReload();
				ModalNavigationService.CloseAndOpen(typeof(LocationDetail), location.Id);
			}
			else
			{
				await LocationService.UpdateLocation(location);

				ModalNavigationService.MarkForReload();
				ModalNavigationService.Close();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Odstranění vybraného umístění z databáze
	/// </summary>
	/// <param name="locationId">ID vybraného umístění</param>
	/// <returns>Asynchronní operace</returns>
	private async Task DeleteLocation(int locationId)
	{
		try
		{
			string question;
			if (await DeviceService.AnyDevicesInLocationById(location.Id))
			{
				question = "Opravdu chcete toto umístění odstranit z evidence? Zařízení v evidenci zůstanou zachována.";
			}
			else
			{
				question = "Opravdu chcete toto umístění odstranit z evidence?";
			}

			if (await confirmDialog.Show(question, new() { "Odstranit", "Zrušit" }) == 1)
			{
				if (await DeviceService.AnyDevicesInLocationById(location.Id))
				{
					await DeviceService.UnassignDevicesInLocationById(location.Id);
				}

				await LocationService.DeleteLocationById(locationId);

				ModalNavigationService.MarkForReload();
				ModalNavigationService.CloseAll();
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}
}
