@using Microsoft.AspNetCore.Identity
@using SpravceBaterii.Components.Shared
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using System.ComponentModel.DataAnnotations

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationUserService UserService
@inject NavigationManager Navigation
@inject ModalNavigationService ModalNavigationService
@inject ExceptionHandlerService ExceptionHandlerService
@inject Microsoft.Extensions.Options.IOptions<IdentityOptions> IdentityOptions

<h2>Změna hesla</h2>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<!--Zobrazení potvrzovacího dialogu-->
<ConfirmDialog @ref="confirmDialog" />

<EditForm Model="@InputPassword" OnValidSubmit="Change" FormName="Change" class="account-update">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p class="required-info">Pole označená <span>*</span> jsou povinná.</p>

	<label for="input-password">Současné heslo: </label>
	<InputText id="input-password" @bind-Value="InputPassword.CurrentPassword" type="password" placeholder="Zadejte heslo" required></InputText>
	
	<label for="input-new-password">Nové heslo: </label>
	<InputText id="input-new-password" @bind-Value="InputPassword.NewPassword" type="password" placeholder="Zadejte nové heslo" required></InputText>
	
	<label for="input-confirm-new-password">Potvrzení nového hesla: </label>
	<InputText id="input-confirm-new-password" @bind-Value="InputPassword.ConfirmNewPassword" type="password" placeholder="Zadejte nové heslo znovu" required></InputText>

	<div id="show-password-requirements">
		<input type="checkbox" id="checkbox-show-password-requirements" />
		<label for="checkbox-show-password-requirements">Požadavky na heslo</label>

		<div id="password-requirements">
			<ul id="requirements">
				@foreach (string requirement in passwordRequirements)
				{
					<li>@requirement</li>
				}
			</ul>
		</div>
	</div>

	<div class="action-buttons">
		<button type="submit">Uložit</button>
	</div>
</EditForm>

@code {
	/// <summary>
	/// Vstupní parametr - ID položky pro její načtení
	/// </summary>
	[Parameter]
	public int? ItemId { get; set; }

	private string errorMessage = "";
	private ConfirmDialog confirmDialog = default!;

	private InputModelPassword InputPassword { get; set; } = new InputModelPassword();
	private List<string> passwordRequirements = new();

	/// <summary>
	/// Nastavení a načtení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			InputPassword.CurrentPassword = "";
			InputPassword.NewPassword = "";
			InputPassword.ConfirmNewPassword = "";

			passwordRequirements.Add("Minimální délka: " + IdentityOptions.Value.Password.RequiredLength + " znaků");
			if (IdentityOptions.Value.Password.RequireDigit)
			{
				passwordRequirements.Add("Musí obsahovat číslici");
			}
			if (IdentityOptions.Value.Password.RequireLowercase)
			{
				passwordRequirements.Add("Musí obsahovat malé písmeno");
			}
			if (IdentityOptions.Value.Password.RequireUppercase)
			{
				passwordRequirements.Add("Musí obsahovat velké písmeno");
			}
			if (IdentityOptions.Value.Password.RequireNonAlphanumeric)
			{
				passwordRequirements.Add("Musí obsahovat speciální znak");
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}
	/// <summary>
	/// Změna hesla
	/// </summary>
	/// <returns>Asynchronní metoda</returns>
	private async Task Change()
	{
		try
		{
			if (InputPassword.NewPassword != InputPassword.ConfirmNewPassword)
			{
				errorMessage = "Zadaná hesla se neshodují";
				return;
			}

			ApplicationUser? user = await UserManager.FindByIdAsync(await UserService.GetUserIdAsync());
			if (user != null)
			{
				IdentityResult result = await UserManager.ChangePasswordAsync(user, InputPassword.CurrentPassword, InputPassword.NewPassword);

				if (result.Succeeded)
				{
					if (await confirmDialog.Show("Heslo bylo úspěšně změněno.", new(){ "Zavřít" }) == 1)
					{
						ModalNavigationService.MarkForReload();
						ModalNavigationService.Close();
						Navigation.NavigateTo("/aktualizace-cookie", true);
					}
				}
				else
				{
					errorMessage = string.Join("<br>", result.Errors.Select(error => error.Description).Where(error => !string.IsNullOrEmpty(error)));
					return;
				}
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Model pro vstupní data z formuláře pro změnu hesla
	/// </summary>
	private class InputModelPassword
	{
		[Required(ErrorMessage = "Zadejte současné heslo")]
		public string CurrentPassword { get; set; } = "";

		[Required(ErrorMessage = "Zadejte nové heslo")]
		public string NewPassword { get; set; } = "";

		[Required(ErrorMessage = "Zadejte znovu nové heslo")]
		public string ConfirmNewPassword { get; set; } = "";
	}
}
