@using Microsoft.AspNetCore.Identity
@using SpravceBaterii.Data.Models
@using SpravceBaterii.Services
@using System.ComponentModel.DataAnnotations

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationUserService UserService
@inject ModalNavigationService ModalNavigationService
@inject ExceptionHandlerService ExceptionHandlerService

<h2>Smazání všech dat</h2>

<p>Opravdu chcete navždy odstranit všechna svoje data - (baterie, zařízení, umístění)?</p>
<p>Váš účet v této aplikaci zůstane zachován.</p>

<h2>Potvrzení hesla</h2>

<!--Zobrazení chybové hlášky pokud je vyplněna-->
@if (!string.IsNullOrEmpty(errorMessage))
{
	<p class="error-message">@errorMessage</p>
}

<EditForm Model="@InputCurrentPassword" OnValidSubmit="DeleteAllUserData" FormName="DeleteAllUserData" class="account-update">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p class="required-info">Pole označená <span>*</span> jsou povinná.</p>

	<label for="input-password">Heslo pro potvrzení: </label>
	<InputText id="input-password" @bind-Value="InputCurrentPassword.CurrentPassword" type="password" placeholder="Zadejte heslo" required></InputText>
		
	<div class="action-buttons">
		<button type="submit">Potvrdit</button>
	</div>
</EditForm>

<!--Zobrazení úspěšné hlášky-->
@if (showSuccessInfo)
{
	<div class="overlay">
		<div class="overlay-content">
			<button type="button" class="close" @onclick="CloseSuccessInfo">X</button>
			<p>Všechna vaše uložená data byla úspěšně smazána.</p>
			<div class="action-buttons">
				<button type="button" @onclick="CloseSuccessInfo">Zavřít</button>
			</div>
		</div>
	</div>
}

@code {
	/// <summary>
	/// Vstupní parametr - ID položky pro její načtení
	/// </summary>
	[Parameter]
	public int? ItemId { get; set; }

	private InputModelCurrentPassword InputCurrentPassword { get; set; } = new InputModelCurrentPassword();

	private string errorMessage = "";
	private bool showSuccessInfo = false;

	/// <summary>
	/// Nastavení potřebných dat při zobrazení komponenty
	/// </summary>
	/// <returns>Asynchronní operace</returns>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			InputCurrentPassword.CurrentPassword = "";
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}
	/// <summary>
	/// Smazání všech evidovaných dat aktuálně přihlášeného uživatele z databáze - baterie, zařízení, umístění
	/// Účet zůstane zachován a funkční
	/// </summary>
	/// <returns>Asynchronní metoda</returns>
	private async Task DeleteAllUserData()
	{
		errorMessage = "";
		try
		{
			if (await CheckCurrentPassword())
			{
				await UserService.DeleteAllUserData();
				showSuccessInfo = true;
			}
			else
			{
				errorMessage = "Zadali jste nesprávné heslo";
				return;
			}
		}
		catch (Exception ex)
		{
			errorMessage = ExceptionHandlerService.HandleException(ex);
		}
	}

	/// <summary>
	/// Zavření komponenty po zavření hlášky o úspěšném procesu
	/// </summary>
	/// <returns>Asynchronní metoda</returns>
	private async Task CloseSuccessInfo()
	{
		showSuccessInfo = false;
		ModalNavigationService.MarkForReload();
		ModalNavigationService.Close();
	}

	/// <summary>
	/// Kontrola zadanáho současného hesla uživatele
	/// </summary>
	/// <returns>bool, zda se heslo shoduje s uloženým heslem v databázi</returns>
	private async Task<bool> CheckCurrentPassword()
	{
		ApplicationUser? user = await UserManager.FindByIdAsync(await UserService.GetUserIdAsync());
		if (user != null)
		{
			return await UserManager.CheckPasswordAsync(user, InputCurrentPassword.CurrentPassword);
		}
		return false;
	}

	/// <summary>
	/// Model pro vstupní data z formuláře pro potvrzení hesla
	/// </summary>
	private class InputModelCurrentPassword
	{
		[Required(ErrorMessage = "Zadejte současné heslo.")]
		public string CurrentPassword { get; set; } = "";
	}
}
